extends layout

//TODO: Add link to get back to home page
//TODO: add link to GCV website

block body
  div.container
    h1 About us
    h2 Global Corporate Venturing
    p.
      Global Corporate Venturing (GCV) is a website and a monthly PDF magazine written for the in-house venture capital units of large corporations. Since 2010 we have been tracking venture deals involving corporates and that data on about 5,000 deals by 1200 corporates is what drives GCV Analytics. GCV arranges the world’s largest conferences on corporate venturing and the GCV Academy (www.gcvacademy.com) runs training and development programmes.
    p.
      GCV is published by Mawsonia, which also publishes Global University Venturing (looking at investment by universities in their spinouts) and Global Government Venturing (writing about how governments support innovation through venture).

    h2.
      Licenses
    p.
      Global Corporate Venturing is available via corporate subscription licenses. Access to GCV Analytics is similarly sold as a subscription license - Global Corporate Venturing subscribers receive a discount to GCV Analytics licenses.
    br
    br
    p
      span Don't have an account?
      span &nbsp;
      a(href="/contact") Contact Us
    p
    | Tim Lafferty
    br
    | Chief Operating Officer
    br
    a(href='mailto:tlafferty@mawsonia.com') tlafferty@mawsonia.com
    br
    |  +44 (0) 7792 137133

    include footer.jade
    div &nbsp;
    div &nbsp;
