extends layout

block body
  .row
    .container-fluid
      div.col-md-1
        ul#sidebar.nav.nav-pills.nav-stacked.sidebar
          //li.active.gcv_darkblue
          //  a#home(href='#', data-toggle='tab', onclick="switchView('Pitcher Profile')")
          //    i.fa.fa-home.fa-fw.fa-2x
          //    |   Home
          //li.nav-divider
          li.dropup
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              i.fa.fa-download.fa-2x
              span.caret
              |   Export
            ul.dropdown-menu
              li
                a(href='#', onclick="exportImage()") Image
              li
                a(href='#', onclick="exportData()") Data
              li
                a(href='#', onclick="exportCrossTab()") Crosstab
              li
                a(href='#', onclick="exportPDF()") PDF
          li
            a(href="#", onclick="revertAll()")
              i.fa.fa-undo.fa-2x
              |   Revert All

      div.col-md-11
        #viz

      script(type='text/javascript').

        //$('.my-dropdown').dropdown();
        //$('.my-dropdown').tooltip();

        var viz, workbook;
        var landingPages = ["Pitcher Profile", "Batter Profile"];
        var pos = 0;
        window.onload = function () {

          console.log('#{ticket}')

          var vizDiv = document.getElementById('viz');
          var vizURL = "http://viz.qbasystems.com/trusted/#{ticket}/t/Veritas/views/BaseballMetrics/PitcherProfile?:embed=y:render=false&:toolbar=bottom";
          var options = {
            //        width: '1000px',
            //        height: '540px',
            hideToolbar: false,
            hideTabs: false
          };
          viz = new tableauSoftware.Viz(vizDiv, vizURL, options);

          viz.addEventListener('tabswitch', function (event) {
            var oldSheetName = event.getOldSheetName();
            var newSheetName = event.getNewSheetName();
            var isNewSheetLandingPage = landingPages.indexOf(newSheetName);
            var isOldSheetLandingPage = landingPages.indexOf(oldSheetName);
            console.log(newSheetName);
            console.log(landingPages.indexOf(newSheetName));
            var urlPrefix = "#/";
            var urlSheet = event.getNewSheetName();
            var urlString = urlPrefix.concat(urlSheet.replace(" ", "%20"));
            pos += 1;
            console.log("about to run history.pushState; stateValue=" + pos);
            history.pushState({pos: pos, sheetName: newSheetName}, 'New Title', urlString);
            $(document).ready(function () {
              $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
            });
          })
        };
        window.onpopstate = function (event) {
          console.log("running onpopstate function");
          console.log("location: " + document.location + ", state: " + event.state.pos + ", SheetName: " + event.state.sheetName);
          if(pos !== null){
            workbook.activateSheetAsync(event.state.sheetName);
          } else {
            sheetName = "Pitcher Profile";
            workbook.activateSheetAsync(event.state.sheetName);
          }
          if(event.originalEvent.state!=null){
            alert("location: " + document.location);
          };
        };
        var switchView = function (sheetName) {
          try {
            console.log("running switchView function");
            workbook = viz.getWorkbook();
            //         alert(workbook);
            workbook.activateSheetAsync(sheetName)
                    .then(function(sheet){
                      worksheet = sheet;
                      console.log("running then function");
                    });
          }
          catch (err) {
            alert(sheetName);
            alert(err.message);
          }
        };
        var viewCompanyDetails = function () {
          try {
            //document.getElementById("fieldid").get
            console.log("running switchViewCompany function");
            workbook = viz.getWorkbook();
            //         alert(workbook);
            workbook.activateSheetAsync("Company Details")
                    .then(function (sheet) {
                      dashboard = sheet;
                      companyDetails1Sheet = dashboard.getWorksheets().get("Company Details 1 WS");
                      companyDetailsSheet = dashboard.getWorksheets().get("Company Details WS");
                      companyDetailsInvestorsSheet = dashboard.getWorksheets().get("Company Details - Investors WS");
                      companyDetailsSheet.applyFilterAsync("Portfolio Company", companyName, tableau.FilterUpdateType.REPLACE);
                      return companyDetailsSheet;
                    })
                    .then(function () {
                      return companyDetails1Sheet.applyFilterAsync("Portfolio Company", companyName, tableau.FilterUpdateType.REPLACE);
                    })
                    .then(function () {
                      return companyDetailsInvestorsSheet.applyFilterAsync("Portfolio Company", companyName, tableau.FilterUpdateType.REPLACE);
                    });
          }
          catch (err) {
            alert(sheetName);
            alert(err.message);
          }
        };
        var exportPDF = function () {
          viz.showExportPDFDialog();
        };
        var exportImage = function () {
          viz.showExportImageDialog();
        };
        var exportData = function () {
          viz.showExportDataDialog();
        };
        var exportCrossTab = function () {
          viz.showExportCrossTabDialog();
        };
        var revertAll = function () {
          viz.revertAllAsync();
        };
  include footer.jade