extends layout

block body
  div.container
    h1 Thank You
    br
    p.
      A representative from Global Corporate Venturing Analytics will be in touch with you very shortly.

    include footer.jade
    div &nbsp;
    div &nbsp;
